<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mini Messageboard</h1>
    <form method="POST" action="/new">
        <input type="text" name="messageText">
        <input type="text" name="messageUser">
        <button type="submit">Send</button>    
     </form>
    <a href="/" class="btn">Back</a>     
</body>
</html>